[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
  name = Joe Pettersson
  email = joe8bit@gmail.com
[url "https://"]
	insteadOf = git://
